{{> header}}
  {{> nav}}
       <div style="width: 30%; margin: 25px auto;">
     <form method='POST' action='/budget/{{budget._id}}?_method=PUT'>
          <h3>Housing</h3>

          <div class="form-group">
              <label for="expense">Expense: </label>
              <input type="text" name="name" placeholder="Expense" value='{{budget.name}}'/><br/>
               <label for="expense">Dollar Amount: </label>
              <input type="number" name="amount" placeholder="Expense-Amount" value='{{budget.amount}}'/><br>
              <label for="expense">Category: </label>
               <input type="text" name="category" placeholder="category" value='{{budget.category}}'/><br/>
          </div>
          <br>
          <br>
          <div class="form-group">
              <h3>Food</h3>
              <label for="expense">Expense: </label>
              <input type="text" name="name" placeholder="Expense" value='{{budget.name}}' /><br/>
               <label for="expense">Dollar Amount: </label>
              <input type="number" name="amount" placeholder="Expense-Amount" value='{{budget.amount}}' /><br>
              <label for="expense">Category: </label>
               <input type="text" name="category" placeholder="category" value='{{budget.category}}' /><br/>
          </div>
          <br>
          <br>
          <div class="form-group">
              <h3>Transporation</h3>
              <label for="expense">Expense: </label>
              <input type="text" name="name" placeholder="Expense" value='{{budget.name}}' /><br/>
               <label for="expense">Dollar Amount: </label>
              <input type="number" name="amount" placeholder="Expense-Amount"  value='{{budget.amount}}' /><br>
              <label for="expense">Category: </label>
               <input type="text" name="category" placeholder="category" value='{{budget.category}}'/><br/>
          </div>
          <br>
          <br>
          <div class="form-group">
              <h3>Insurance</h3>
              <label for="expense">Expense: </label>
              <input type="text" name="name" placeholder="Expense" value='{{budget.name}}' /><br/>
               <label for="expense">Dollar Amount: </label>
              <input type="number" name="amount" placeholder="Expense-Amount" value='{{budget.amount}}' /><br>
              <label for="expense">Category: </label>
               <input type="text" name="category" placeholder="category" value='{{budget.category}}'/><br/>
          </div>
          <br>
          <br>
          <div class="form-group">
              <h3>Clothing</h3>
              <label for="expense">Expense: </label>
              <input type="text" name="name" placeholder="Expense" value='{{budget.name}}' /><br/>
               <label for="expense">Dollar Amount: </label>
              <input type="number" name="amount" placeholder="Expense-Amount" value='{{budget.amount}}'  /><br>
              <label for="expense">Category: </label>
               <input type="text" name="category" placeholder="category"  value='{{budget.category}}'/><br/>
          </div>
          <br>
          <br>
          <div class="form-group">
              <h3>Entertainment</h3>
              <label for="expense">Expense: </label>
              <input type="text" name="name" placeholder="Expense" value='{{budget.name}}' /><br/>
               <label for="expense">Dollar Amount: </label>
              <input type="number" name="amount" placeholder="Expense-Amount" value='{{budget.amount}}'  /><br>
              <label for="expense">Category: </label>
               <input type="text" name="category" placeholder="category" /><br/>
          </div>

          <button type="submit" class="orange">Save</button>

      </form>
  </div>
