{{> header}}
{{> nav}}
<ul>
    <div class="container">
    <!-- For #each post... -->
    {{#each budget}}
    <h1>Your Budget</h1>
            <div class="budget">
                <h2>Housing</h2>
                <h3 class="budget-title"><a href="/budget/{{this._id}}">Expense: {{this.housingName}}</a></h3>
                <h4>Dollar Amount: {{this.housingAmount}}</h4>
                <h4>Expense Category: {{this.housingCategory}}</h4>
                </div>
            <div class="budget">
                <h2>Food</h2>
            <h3 class="budget-title"><a href="/budget/{{this._id}}">Expense: {{this.foodName}}</a></h3>
            <h4>Dollar Amount: {{this.foodAmount}}</h4>
            <h4>Expense Category: {{this.foodCategory}}</h4>
            </div>
            <div class="budget">
                <h2>Transporation</h2>
                <h3 class="budget-title"><a href="/budget/{{this._id}}">Expense: {{this.transportationName}}</a></h3>
                <h4>Dollar Amount: {{this.transportationAmount}}</h4>
                <h4>Expense Category: {{this.transportationCategory}}</h4>
            </div>
            <div class="budget">
                <h2>Insurance</h2>
                <h3 class="budget-title"><a href="/budget/{{this._id}}">Expense: {{this.insuranceName}}</a></h3>
                <h4>Dollar Amount: {{this.insuranceAmount}}</h4>
                <h4>Expense Category: {{this.insuranceCategory}}</h4>
                </div>
            <div class="budget">
                <h2>Clothing</h2>
                <h3 class="budget-title"><a href="/budget/{{this._id}}">Expense: {{this.clothingName}}</a></h3>
                <h4>Dollar Amount: {{this.clothingAmount}}</h4>
                <h4>Expense Category: {{this.clothingCategory}}</h4>
            </div>
            <div class="budget">
                <h2>Entertainment</h2>
                <h3 class="budget-title"><a href="/budget/{{this._id}}">Expense: {{this.entertainmentName}}</a></h3>
                <h4>Dollar Amount: {{this.entertainmentAmount}}</h4>
                <h4>Expense Category: {{this.entertainmentCategory}}</h4>
            </div>
            <div class="budget">
                <h2>Saving</h2>
                <h3 class="budget-title"><a href="/budget/{{this._id}}">Expense: {{this.savingName}}</a></h3>
                <h4>Dollar Amount: {{this.savingAmount}}</h4>
                <h4>Expense Category: {{this.savingCategory}}</h4>
            </div>


            <hr>
    {{/each}}
    </div>
</ul>
