{{> header}}
{{> nav}}
<div class="show">
<h3>Expense: {{budget.name}}</h3>
<h3>Dollar Amount: {{budget.amount}}</h3>
<h3>Expense Catergory: {{budget.category}}</h3>
<p><a class="button is-success" href="/budget/{{budget._id}}/edit">Edit</a></p>
      <a class="button is-success" href="/budget">Back</a><br>
       <p><form method="POST" action="/budget/{{budget._id}}?_method=DELETE">
          <button class="button is-danger" type="submit">Delete</button>
      </form></p>
</div>
